[submodule "proto"]
	path = proto
	url = https://github.com/herd-fhe/herd_proto
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third-party/termcolor"]
	path = third-party/termcolor
	url = https://github.com/ikalnytskyi/termcolor
